@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
}
body {
    /* height: 100%;
    width: 100%; */

    justify-content: center;

    align-items: center;
    background: linear-gradient(45deg, #fc466b, #3f5efb);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#h1 {
    
    text-align: center;
    font-weight: 500;
    color: #5f2525;
}

.calculator {
    margin: auto;
    display: flex;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    overflow: hidden;color: black;

}

.container .calculator input {

    background: transparent;
    color: black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    padding: 0 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    cursor: pointer;




}

.container .calculator input::placeholder {
    color: rgb(27, 26, 27);
}

button {
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 70px;
    color: #ffff;
    border-radius: 40px;
    background: transparent;
    border: none;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);

}

.equal {
    background-color: orange;
}

.name {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 24px;
     font-weight: 900;
}





.container1 {
 
    margin: auto;
    display: flex;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    overflow: hidden;

}

.container1 button {
    padding: 12px 20px 20px 20px;
    margin: 10px 0;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #45a049;
}

p#result {
    font-size: 1.5em;
    margin-top: 20px;
}



input[type="date"] {
    padding: 30px 20px;
    margin: 10px 0;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    color:black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    
   
    font-size: 40px;
    font-weight: 500;
    padding: 20px 10px;
    margin-bottom: 20px;
    
    cursor: pointer;

 }
.fl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 30px; /* Adjust the gap between cards as needed */
}

@media (max-width: 768px) {
    .fl {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1140px) {
    .fl {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .fl {
        grid-template-columns: 1fr;
    }
}

 
.btt{
    font-size: 14px;
    font-weight: 900;}
    
    .nav {
        background-color:blur(15px);
    }
    
    .nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 900
    }
    .nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .nav ul li {
        flex: 1;
        text-align: center;
        padding: 14px 20px;
        color: white;
    }
    
    .nav ul li:hover {
        background:linear-gradient(45deg, #fc466b, #3f5efb);
    }
    
    @media (max-width: 768px) {
        .nav ul {
            flex-direction: column;
        }
    
        .nav ul li {
            text-align: left;
            padding: 10px 20px;
        }
    }







.container2 {
    margin: auto;
    display: flex;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    overflow: hidden;

  
}

input[type="number"] {
    /* padding: 5px;
    margin: 10px 0; */
    padding: 30px 20px;
    margin: 10px 0;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    color:black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 500;
    padding: 20px 10px;
    margin-bottom: 20px;
    
    cursor: pointer;
}

.container2 button {
    
      
 
    padding: 12px 20px 20px 20px;
    margin: 10px 0;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;

}

p#result2 {
    font-size: 1.5em;
    margin-top: 20px;
}



.container3 {
    margin: auto;
    display: flex;
    /* height: 500px;
    width: 400px; */
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    overflow: hidden;
  
}
.container3 input::placeholder {
    color: rgb(27, 26, 27);
    font-size: large;
    text-align:center;
}


input[type="text"] {
    /* padding: 5px;
    margin: 10px 0; */
    padding: 30px 20px;
    margin: 10px 0;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    color:black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    /* font-size: 40px; */
    font-weight: 500;
    padding: 20px 10px;
    margin-bottom: 20px;
    
    cursor: pointer;
}
 

p#result3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.container3 button {
    
      
 
    padding: 12px 20px 20px 20px;
    margin: 10px 0;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: 900;

}






.container4 {
    margin-top: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
   
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    overflow: hidden;
}

.container4 input[type="number"] {
 
   /* padding: 5px;
    margin: 10px 0; */
    padding: 30px 20px;
    margin: 10px 0;
    box-shadow: 0px 3px 15px rgba(0, 115, 119, 5);
    color: rgb(161, 144, 144);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 500;
    padding: 20px 10px;
    margin-bottom: 20px;
    
    cursor: pointer;
}

.container4 button {
 
    padding: 12px 20px 20px 20px;
    margin: 10px 0;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: 900;
}

 

p#result6 {
    font-size: 1.5em;
    margin-top: 20px;
}


table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
<<<<<<< HEAD

.container4 input::placeholder {
    color: rgb(27, 26, 27);
    font-size: large;
    text-align: center;
}
.container2 input::placeholder {
    color: rgb(27, 26, 27);
    font-size: large;
    text-align: center;
}
.container1 input::placeholder {
    color: rgb(27, 26, 27);
    font-size: large;
    text-align: center;
}
=======
>>>>>>> 430eff4b5ad2006a2797aa237b172a93eb684b57
